/* Resets
--------------------------------------------------------------------------------*/

ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, body, html, p, blockquote, fieldset, input {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

fieldset {
	border: 0;
}

a img {
	border: 0;
}

.clear {
	clear: both;
}

/*-------------------------------------------------------------------------*/

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #000;
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}


/*Navigation's Style
---------------------------------------------------------------*/

nav {
	background-color: #1d1818;
	border: 1px solid #060080;
	border-radius: 4px;
	color: #888;
	display: block;
	margin: auto;
	top: 20px;
	position: relative;
	overflow: hidden;
	width: 100%; 
}

nav ul {
	margin: 0;
	padding: 0;
}

nav ul li {
	display: inline-block;
	list-style-type: none;
	
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s; 
}
	
nav > ul > li > a {
	color: #060080;
	display: block;
	line-height: 56px;
	padding: 0 24px;
	text-decoration: none;
}

nav > ul > li:hover {
	background-color: rgb( 40, 44, 47 );
	font-size: 20px;
}

nav > ul > li:hover > a {
	color: rgb( 255, 255, 255 );
}



/*--------------------------------------------------------------------------*/


#wrapper {
	width: 80%;
	margin: 0 auto;
}